.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 900px;
}

.dashboard-container p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 5%;
}

.dashboard-container .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-container .txt h3 {
  font-size: 52px;
  font-weight: 700;
  color: #10375C;
  font-family: 'Playfair Display';
  font-style: normal;
  width: 40%;
  margin-left: 4%;
  margin-top: 1%;
}

.dashboard-container .dash-i {
  width: 960px;
  height: 600px;
  background-image: url("../../assets/dash1.png");
  margin-left: 30%;
}

.dashboard-container .layo {
  width: 445px;
  height: 459px;
  background-color: #10375C;
  margin-top: -40%;
  margin-left: 5%;
  border-radius: 5px;
}

.dashboard-container .layo h6 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Playfair Display';
  font-style: normal;
  margin-top: 5%;
  margin-left: 8%;
}

.dashboard-container .layo p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 8%;
  font-style: normal;
  font-family: 'Playfair Display';
}
/*# sourceMappingURL=Dashboard.css.map */