@import "../../style/Variables/variable";
@import "../../style/Mixins/mixin";

.dashboard-container{
           display: flex;
           flex-direction: column;
           height: 900px;
           
     
    
    p{
          
        font-size: 20px;
        font-weight: 500;
        // display: flex;
        margin-left: 5%;
    }

    .txt{
          display: flex;
          flex-direction: column;
        
          h3{
            font-size: 52px;
            font-weight: 700;
            color: #10375C;
            font-family: 'Playfair Display';
            font-style: normal;
            width: 40%;
            margin-left: 4%;
            margin-top: 1%;
          }
     }

    .dash-i{
      width: 960px;
      height: 600px;
      background-image: url("../../assets/dash1.png");
      margin-left: 30%;

      }

      .layo{
        
        width: 445px;
        height: 459px;
        background-color: #10375C;
        margin-top: -40%;
        margin-left: 5%;
        border-radius: 5px;
        
        h6{
          
          color: white;
          font-size: 30px;
          font-weight: 700;
          font-family: 'Playfair Display';
          font-style: normal;
          margin-top: 5%;
          margin-left: 8%;
        }
        p{
          color: white;
          font-size: 16px;
          font-weight: 400;
          margin-top: 0;
          margin-left: 8%;
          font-style: normal;
          font-family: 'Playfair Display';

        }
      }
     
}