@import "../../style/Mixins/mixin";

.card-t{
    display: flex;
   
    p{
        @include font;
        font-size: 52px;
        font-weight: 700;
        color: #10375C;
        margin-left: 4%;
        margin-top: 1%;
    }
}
.card-main{
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-1{
        @include cards;
        background-image: url("../../assets/car1.png");
        margin-left: 4%;
    }
    .card-2{
        @include cards;
        display: flex;
        position: relative;
        background-image: url("../../assets/car2.png");
        filter: drop-shadow(0px 0px 0px black);
         
        .card-cont{
            
            position: absolute;
            right:10px ;
        }
        .card-p{
            display: flex;
            flex-direction: column;
        }
           
       
             .ca-btn{
                // @include flex;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction:row;
                // justify-content: space-between;
                   
                   input[type="submit"]{
                       
                      height: 30px;
                      width: 106px;
                      border-radius: 5px;
                      background-color: #10375C;
                      border: 2px solid #10375C ;
                      color: white;
                      font-size: 16px;
                      font-weight: 400;
                      
                    }

                  }  
        //   .card-cont{
        //       @include flex;
        //       width: 100%;
        //       height: 100%;
              
            
        //       .ui{
        //           color: white;
                  
        //       }
            
        //   }
     }
     .card-3{
         @include cards;
         background-image: url("../../assets/car3.png");
     }
}