.card-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-t p {
  font-style: normal;
  font-family: 'Playfair Display';
  color: white;
  font-size: 52px;
  font-weight: 700;
  color: #10375C;
  margin-left: 4%;
  margin-top: 1%;
}

.card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-main .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 373px;
  height: 419px;
  border-radius: 5px;
  background-image: url("../../assets/car1.png");
  margin-left: 4%;
}

.card-main .card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 373px;
  height: 419px;
  border-radius: 5px;
  display: flex;
  position: relative;
  background-image: url("../../assets/car2.png");
  -webkit-filter: drop-shadow(0px 0px 0px black);
          filter: drop-shadow(0px 0px 0px black);
}

.card-main .card-2 .card-cont {
  position: absolute;
  right: 10px;
}

.card-main .card-2 .card-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-main .card-2 .ca-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-main .card-2 .ca-btn input[type="submit"] {
  height: 30px;
  width: 106px;
  border-radius: 5px;
  background-color: #10375C;
  border: 2px solid #10375C;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.card-main .card-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 373px;
  height: 419px;
  border-radius: 5px;
  background-image: url("../../assets/car3.png");
}
/*# sourceMappingURL=Card.css.map */