@mixin flex {
      display: flex;
      align-items: center;
      justify-content: center;

}
@mixin  cards {
        display: flex;
        width: 373px;
        height: 419px;
        border-radius: 5px;
      }
@mixin  font {
      font-style: normal;
      font-family:'Playfair Display';
      color: white;
}      