.header-container {
  width: 100%;
  height: 100px;
}

.header-container .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .navs p {
  color: #10375C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 1%;
}

.header-container .navs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
  border: none;
}

.header-container input[value="Sign Up"] {
  height: 40px;
  width: 130px;
  background-color: #FF5722;
  color: white;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

.header-container input[value="Login"] {
  height: 40px;
  width: 130px;
  background-color: #ffffff;
  color: #FF5722;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=Header.css.map */