@import "../../style/Variables/variable";
@import "../../style/Mixins/mixin";

.header-container{
    width: 100%;
    height: 100px;
    
    
 
    
   .navs{
      
       @include flex;
      //  border: 1px solid;
       color: #000;
       font-size: 20px;
       font-weight: 400;
       justify-content: space-between;
       
       p{
           color: #10375C;
           display: flex;
           font-size: 20px;
           font-weight: 600;
           margin-left:5%;
           margin-top:1%;

           }
       a{
           display: flex;
           justify-content: space-between;
           color: #000000;
           border: none;

        }


         
          }

        input[value="Sign Up"]{
        height: 40px;
        width: 130px;
        background-color: #FF5722;
        color:white;
        border: 2px solid;
        border-radius: 8px;
        cursor: pointer;
    }   

        input[value="Login"]{
        height: 40px;
        width: 130px; 
        background-color: #ffffff;
        color:#FF5722;
        border: none;
        cursor: pointer;
        } 
}
 